@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --organe:#ff7800;
    --black: #0b073a;
    --gray: #666;
    --green: rgba(2, 136, 2, 0.918);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
    --border-hover: #ff7800; 
    --white: #fff;   
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 69.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-top: 2rem;
}

body{
    background: #eee;
}
.gallery{
    background: #fff;
    width: 90%;
    margin: 20px auto;
}
.gallery > .col-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-gap: 1.5rem;
}
.gallery > .col-gallery > .col-img{
    box-shadow: var(--box-shadow);
}
.gallery > .col-gallery > .col-img > img{
    width: 287px;
    height: 200px;
    padding-right: 10px;
}
.gallery > .col-gallery > .col-img > p{
    font-size: 16px;
    padding-left: 10px;
}
.gallery > .col-gallery > .col-img > a{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    border: none;
    font-size: 1.3rem;border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    background: var(--organe);
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
